<ion-view>
  <ion-content ng-controller="AuthCtrl" id="signup">
<div class="logo"></div>
  <div class="list">
    <div class="row">
      <label class="col-xs-12 col-xs-offset-1">
        <input type="text" placeholder="Email" class="col-xs-12" ng-model="email">
      </label>
    </div>
    <div class="row">
      <label class="col-xs-12 col-xs-offset-1">
        <input type="password" placeholder="Password" class="col-xs-12" ng-model="password">
      </label>
    </div>
    <div class="row">
      <button class="button button-outline button-dark col-xs-9 col-xs-offset-2" ng-click="signin()">
        Inscription
      </button>
    </div>    
    <p>Have an account ? <a href="#/login">Sign in</a></p>
  </div>
  {{ error }}

</ion-content>
</ion-view>