<ion-view view-title="Reception">
<ion-content ng-controller="ReceptionCtrl" id="reception">
<ul class="list">
  <li class="item" ng-repeat="snap in reception" source="{{ snap.filename }}" state="{{ snap.view }}" timer="{{ snap.time }}">
  	<div class="row">
  		<p class="col-xs-8">{{ snap.email }}</p>
  		<button class="button button-small" ng-show="!viewsnap" ng-click="view('{{ snap.id }}')">view</button>
  		<button class="button button-small" ng-show="deletesnap" ng-click="delete('{{ snap.id }}')">delete</button>
  	</div>
  	<div class="row">
  		<img id="remp">
  	</div>
  </li>
</ul>
</ion-content>
</ion-view>
