<ion-view view-title="Contacts">
<ion-content ng-controller="ContactsCtrl" padding="true" id="contacts">
<div class="row">
  <div class="list col-xs-12">
  <label class="item item-input col-xs-10">
    <input type="text" placeholder="Ajouter un contact" ng-model="emailcontact">
  </label>
  <button class="icon ion-plus-round" ng-click="addcontact()"></button>
  {{ add }}
  </div>  
</div>
    <ul class="list">
      <li class="item" ng-repeat="confirm in confirms">
        {{confirm.email | uppercase}}
        <button class="button button-small" ng-click="refus('{{ confirm.id }}')">X</button>
        <button class="button button-small" ng-click="confirmation('{{ confirm.id }}')">V</button>
        {{ test }}
      </li>
    </ul>
    <ul class="list">
      <li class="item" ng-repeat="friend in friends">
        <button class="button button-small" ng-click="deletecontact('{{ friend.id }}')">X</button>
        {{friend.email}}
      </li>
    </ul>
    {{ errorcontacts }}
      
</ion-content>
</ion-view>
