<ion-view view-title="Photo">
<ion-content ng-controller="PhotoCtrl" id="photo">
<button class="button icon ion-camera" ng-click="snap()" id="shot"></button>
<section>
	<img id="image" src="">
	<input name="time" type="range" min="1" max="10" step="1" value="4" ng-model="timeval">
	<p>{{ timeval }}</p>
</section>
<h3>Choisir un destinataire</h3>
  <button class="button button-small" ng-click="friends()">My friends</button>
    <ul class="list">
      <li class="item" ng-repeat="user in sendfriend">
      	{{user.email | uppercase}}
      	<button class="button button-small" ng-click="sendsnap('{{ user.id }}')" snapsend>Send</button>
      </li>
    </ul>
    {{ errorcontacts }}
</ion-content>
</ion-view>
