<ion-tabs class="tabs-icon-top tabs-color-active-positive" id="navigation">

  <!-- Contacts Tab -->
  <ion-tab title="Contacts" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" ng-controller="ContactsCtrl" ng-click="tabcontacts()">
    <ion-nav-view name="tab-contacts"></ion-nav-view>
  </ion-tab>

  <!-- Photo Tab -->
  <ion-tab title="Take picture" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" ng-controller="PhotoCtrl" href="/tab/photo">
    <ion-nav-view name="tab-photo"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Reception" icon-off="ion-ios-filing-outline" icon-on="ion-ios-filing" ng-controller="ReceptionCtrl" ng-click="tabrecept()">
    <ion-nav-view name="tab-reception"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Logout" icon-off="ion-power" icon-on="ion-power" ng-controller="AuthCtrl" ng-click="logout()">
  </ion-tab>

</ion-tabs>
