<ion-view>
  <ion-content ng-controller="AuthCtrl" padding="true" id="login">

<div class="logo"></div>
  <div class="list">
    <div class="row">
      <label class="col-xs-12 col-xs-offset-1">
        <input type="text" placeholder="username" class="col-xs-12" ng-model="logemail">
      </label>
    </div>
    <div class="row">
    <label class="col-xs-12 col-xs-offset-1">
      <input type="password" placeholder="password" class="col-xs-12" ng-model="logpassword">
    </label>
      
    </div>
    <div class="row">
      <button class="button button-outline button-dark col-xs-9 col-xs-offset-2" ng-click="login()">
        Sign in
      </button>
    </div>    
    <p>Don't have an account ? <a href="#/signin">Sign Up</a></p>    
  </div>
  {{ error }}
</ion-content>
</ion-view>