<ion-view view-title="Photo">
<ion-content ng-controller="PhotoCtrl" id="photo">
<button class="button icon ion-camera" ng-click="snap()" id="shot"></button>
<img id="image" src="http://ekladata.com/Qagnjyups1JVrPTAMz3GysXPhuM.jpg">
<input name="time" type="range" min="1" max="10" step="1" value="4" ng-model="timeval">
{{ timeval }}
<h2>Choisir un destinataire</h2>
  <button class="button button-small" ng-click="friends()">My friends</button>
    <ul class="list">
      <li class="item" ng-repeat="user in sendfriend" ng-click="sendsnap({{user.id}})" snapsend>{{user.email | uppercase}}</li>
    </ul>
    {{ errorcontacts }}
    <div class="item" ng-show="!showActions" ng-swipe-left="showActions = true">
	  Some list content, like an email in the inbox
	</div>
	<div ng-show="showActions" ng-swipe-right="showActions = false">
	  <button>Reply</button>
	  <button>Delete</button>
	</div>
</ion-content>
</ion-view>
