/* Empty. Add your own CSS if you like */
@font-face {
  font-family: 'Avenir';
  src: url('../font/Avenir.ttf');
}
*
{
	margin: 0;
	padding: 0;
}
#image
{
	background-color: rgba(231,225,227,0.5);
	width: 100%;
	min-height: 300px;
}
#image+input
{
	display: inline-block;
	vertical-align: top;
	width: 85%;
}

#image+input+p
{
	display: inline-block;
	width: 5%;
	padding-left: 5%;
}

#remp
{
	max-width: 100%;
	max-height: 250px;
}
#shot
{
	width: 100%;
	background-color: lightgrey;
}

.logo
{
	width: 100%;
	height: 300px;
	background-image: url(../img/logogrey.png);
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center;
}
#login
{
	background-image: url(../img/backmountain.png);
}
#login input
{
	padding: 10%;
	padding-left: 50px;
	font-family: Avenir, Helvetica, sans-serif;
	background-repeat: no-repeat;
	background-position: 5% 50%;
	font-size: 1em;
}

#login .list > :nth-child(1) input
{
	background-image: url(../img/user.png);
}

#login .list > :nth-child(2) input
{
	background-image: url(../img/password.png);	
}

#login button
{
	background-color: #ba77ff;
	font-family: Avenir, Helvetica, sans-serif;
	font-size: 1em;
	color: white;
	font-weight: bold;
	border-color: transparent;
}
#login p
{
	color: grey;
	text-align: center;
}
#login p a
{
	color: lightgrey;
}

/*/////////////////////////////////////////////SIGNUP/////////////////////////////////////////////////*/

#signup
{
	background-image: url(../img/backsignup.png);
	background-size: 100% 100%;
}
#signup input
{
	padding: 10%;
	padding-left: 50px;
	font-family: Avenir, Helvetica, sans-serif;
	background-repeat: no-repeat;
	background-position: 5% 50%;
	font-size: 1em;
}

#signup .list > :nth-child(1) input
{
	background-image: url(../img/user.png);
}

#signup .list > :nth-child(2) input
{
	background-image: url(../img/password.png);	
}

#signup button
{
	background-color: #ba77ff;
	font-family: Avenir, Helvetica, sans-serif;
	font-size: 1em;
	color: white;
	font-weight: bold;
	border-color: transparent;
}
#signup p
{
	color: grey;
	text-align: center;
}
#signup p a
{
	color: lightgrey;
}

#contacts
{
	background-image: url(../img/backmountain.png);
}
#contacts > :nth-child(1) h2
{
	background-color: red;
	width: 100%;
}

#photo
{
	background-image: url(../img/backsignup.png);
	background-size: 100% 100%;
	color: white;
}

#photo section
{
	background-color: rgba(255,255,255,0.8);
	padding: 5%;
}

#photo .list li
{
	background-color: rgba(255,255,255,0.6);
}

#contacts > :nth-child(1) input
{
	font-family: Avenir, Helvetica, sans-serif;
}
#contacts > :nth-child(1) label
{
	background-color: transparent;
	border: 0px solid white;
}
#contacts > :nth-child(1) label+button
{
	color: white;
	width: 43px;
	height: 44px;
	background-color: #ba77ff;
	border: 2px solid transparent;
}
.row .list
{
	margin-left: 10px;
}

#reception
{
	background-image: url(../img/backmountain1.png);
	background-size: 100% 100%;
}

#reception .list li
{
	background-color: rgba(255,255,255,0.5);
}

#reception .list li p
{
	color: lightgrey;
}

#navigation
{
	background-color: green;
}

#navigation a
{
	background-color: rgba(255,255,255,0.5);
	color: grey;
}

#contacts li
{
	color: white;
	font-family: Helvetica, sans-serif;
	background-color: rgba(255,255,255,0);
	border-color: transparent;
	border-bottom: 1px solid white;
}

#contacts li button
{
	background-color: transparent;
	color: white;
}

#contacts h3
{
	text-align: center;
}

/*////////////////////PHOTO/////////////////////*/

#photo h3
{
	text-align: center;
}